body{
    position: relative;
    width: 1360px;
    height: 3669px;

    background: #1a1a29;
}

.h-about{
    position: absolute;
    width: 168px;
    height: 48px;

    left: 136px;
    top: 824px;
    bottom: 2797px;
    right: 1056px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: #7562E0;
}

.about-story-1{
    position: absolute;
    width: 1032px;
    height: 101px;

    left: 136px;
    top: 880px;
    bottom: 2688px;
    right: 192px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;

    color: #FFFFFF;
}