body{
    position: relative;
    width: 1360px;
    height: 3669px;

    background: #1a1a29;
}

.h-about{
    position: absolute;
    width: 168px;
    height: 48px;

    left: 136px;
    top: 824px;
    bottom: 2797px;
    right: 1056px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: #7562E0;
}

.about-story-1{
    position: absolute;
    width: 1032px;
    height: 101px;

    left: 136px;
    top: 880px;
    bottom: 2688px;
    right: 192px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;

    color: #FFFFFF;
}

.five-plus{
    position: absolute;
    width: 112px;
    height: 71px;

    left: 129px;
    top: 973px;
    bottom: 2552px;
    right: 1104px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 144px;

    color: #7562E0;
}

.about-story-2{
    position: absolute;
    width: 920px;
    height: 72px;

    left: 278px;
    top: 950px;
    bottom: 2591px;
    right: 162px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
}

.square-1{
    position: absolute;

    width: 256px;
    height: 254px;

    left: 136px;
    top: 1136px;
    bottom: 2279px;
    right: 968px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.square-2,
.square-3,
.square-4{
    position: absolute;
    width: 256px;
    height: 254px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.square-2{
    left: 409px;
    top: 1136px;
    bottom: 2279px;
    right: 695px;    
}

.square-3{
    left: 682px;
    top: 1136px;
    bottom: 2279px;
    right: 423px;
}

.square-4{
    left: 954px;
    top: 1136px;
    bottom: 2279px;
    right: 150px;
}

.pen{
    position: absolute;
    width: 42px;
    height: 42px;

    left: 160px;
    top: 1233px;
    bottom: 2394px;
    right: 1158px;
}

.design{
    position: absolute;
    width: 131px;
    height: 77px;

    left: 160px;
    top: 1289px;
    bottom: 2303px;
    right: 1069px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
}

.cod{
    position: absolute;
    width: 52px;
    height: 52px;

    left: 437px;
    top: 1229px;
    bottom: 2388px;
    right: 871px;
}

.web-dev{
    position: absolute;
    width: 171px;
    height: 72px;

    left: 437px;
    top: 1289px;
    bottom: 2308px;
    right: 752px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
}

.android{
    position: absolute;
    width: 62px;
    height: 62px;

    top: 1217px;
    bottom: 2390px;
    left: 704px;
    right: 594px;
}

.mobile{
    position: absolute;
    width: 171px;
    height: 77px;

    left: 710px;
    top: 1289px;
    bottom: 2303px;
    right: 479px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
}

.python{
    position: absolute;
    width: 54.99px;
    height: 55px;

    top: 1219.01px;
    bottom: 2395px;
    left: 982px;
    right: 323.01px;
}

.web-py{
    position: absolute;
    width: 182px;
    height: 77px;

    left: 982px;
    top: 1289px;
    bottom: 2303px;
    right: 196px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}