body{
    position: relative;
    width: 1360px;
    height: 3669px;

    background: #1a1a29;
}

.h-about{
    position: absolute;
    width: 168px;
    height: 48px;

    left: 136px;
    top: 824px;
    bottom: 2797px;
    right: 1056px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: #7562E0;
}

.about-story-1{
    position: absolute;
    width: 1032px;
    height: 101px;

    left: 136px;
    top: 880px;
    bottom: 2688px;
    right: 192px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;

    color: #FFFFFF;
}

.five-plus{
    position: absolute;
    width: 112px;
    height: 71px;

    left: 129px;
    top: 973px;
    bottom: 2552px;
    right: 1104px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 144px;

    color: #7562E0;
}

.about-story-2{
    position: absolute;
    width: 920px;
    height: 72px;

    left: 278px;
    top: 950px;
    bottom: 2591px;
    right: 162px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
}

.square-1{
    position: absolute;

    width: 256px;
    height: 254px;

    left: 136px;
    top: 1136px;
    bottom: 2279px;
    right: 968px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.square-2{
    position: absolute;
    width: 256px;
    height: 254px;

    left: 409px;
    top: 1136px;
    bottom: 2279px;
    right: 695px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.square-3{
    position: absolute;
    width: 255px;
    height: 254px;

    left: 682px;
    top: 1136px;
    bottom: 2279px;
    right: 423px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.square-4{
    
}