body{
    position: relative;
    width: 1360px;
    height: 3669px;

    background: #1a1a29;
}

.services{
    position: absolute;
}

.h-services{
    position: absolute;
    width: 310px;
    height: 48px;

    left: 136px;
    top: 1470px;
    bottom: 2151px;
    right: 914px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: #7562E0;
}

.services-list{
    list-style: none;
}

.border-1{
    position: absolute;
    width: 341px;
    height: 338px;

    left: 136px;
    top: 1550px;
    bottom: 1781px;
    right: 883px;

    border-radius: 16px;
}

.pencile{
    position: absolute;
    width: 56px;
    height: 56px;

    left: 279px;
    top: 1625px;
    bottom: 1988px;
    right: 1025px;
}

.border-2{
    position: absolute;
    width: 341px;
    height: 338px;

    left: 499px;
    top: 1550px;
    bottom: 1781px;
    right: 520px;

    border-radius: 16px;
}

.code-large{
    position: absolute;
    width: 57px;
    height: 57px;

    top: 1626px;
    bottom: 1986px;
    right: 662px;
    left: 641px;
}

.border-3{
    position: absolute;
    width: 341px;
    height: 338px;

    left: 863px;
    top: 1550px;
    bottom: 1781px;
    right: 158px;

    border-radius: 16px;
}

.android-large{
    position: absolute;
    width: 70px;
    height: 70px;

    top: 1613px;
    bottom: 1986px;
    left: 998px;
    right: 292px;
}

.border-4{
    position: absolute;
    width: 341px;
    height: 338px;

    left: 136px;
    top: 1904px;
    bottom: 1427px;
    right: 883px;

    border-radius: 16px;
}

.git-repo{
    position: absolute;
    width: 62px;
    height: 62px;

    top: 1965px;
    bottom: 1642px;
    left: 272px;
    right: 1026px;
}

.border-5{
    position: absolute;
    width: 341px;
    height: 338px;

    left: 499px;
    top: 1904px;
    bottom: 1427px;
    right: 520px;

    border-radius: 16px;
}

.border-6{
    position: absolute;
    width: 341px;
    height: 338px;

    left: 863px;
    top: 1904px;
    bottom: 1427px;
    right: 158px;

    border-radius: 16px;
}