body{
    position: relative;
    width: 1360px;
    height: 3669px;

    background: #1a1a29;
}

.services{
    position: absolute;
}

.h-services{
    position: absolute;
    width: 310px;
    height: 48px;

    left: 136px;
    top: 1470px;
    bottom: 2151px;
    right: 914px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: #7562E0;
}

.border-1{
    position: absolute;
    width: 341px;
    height: 338px;

    left: 136px;
    top: 1550px;
    bottom: 1781px;
    right: 883px;

    border-radius: 16px;
}

.pencile{
    position: absolute;
    width: 56px;
    height: 56px;

    left: 279px;
    top: 1625px;
    bottom: 1988px;
    right: 1025px;
}