body{
    position: relative;
    width: 1360px;
    height: 3669px;

    background: #1a1a29;
}

.services{
    position: absolute;
}

.h-services{
    position: absolute;
    width: 310px;
    height: 48px;

    left: 136px;
    top: 1470px;
    bottom: 2151px;
    right: 914px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: #7562E0;
}

.services-list{
    list-style: none;
}

.border-1,
.border-3,
.border-5{
    position: absolute;
    width: 341px;
    height: 338px;

    border-radius: 16px;
}

.border-1{
    left: 136px;
    top: 1550px;
    bottom: 1781px;
    right: 883px;
}

.pencile{
    position: absolute;
    width: 56px;
    height: 56px;

    left: 279px;
    top: 1625px;
    bottom: 1988px;
    right: 1025px;
}

.ui{
    position: absolute;
    width: 223px;
    height: 44px;

    top: 1694px;
    bottom: 1939px;
    left: 210px;
    right: 942px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 44px;

    color: #FFFFFF;
}

.des{
    position: absolute;
    width: 296px;
    height: 64px;

    top: 1749px;
    bottom: 1856px;
    left: 159px;
    right: 905px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;

    text-align: center;

    color: #FFFFFF;
}

.border-2,
.border-4,
.border-6{
    position: absolute;
    width: 341px;
    height: 338px;

    border-radius: 16px;
}

.border-2{
    left: 499px;
    top: 1550px;
    bottom: 1781px;
    right: 520px;   
}

.code-large{
    position: absolute;
    width: 57px;
    height: 57px;

    top: 1626px;
    bottom: 1986px;
    right: 662px;
    left: 641px;
}

.wd{
    position: absolute;
    width: 229px;
    height: 36px;

    top: 1694px;
    bottom: 1939px;
    left: 570px;
    right: 570px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;

    color: #7562E0;
}

.wdp{
    position: absolute;
    width: 296px;
    height: 112px;

    top: 1746px;
    bottom: 1811px;
    left: 521px;
    right: 543px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;

    text-align: center;

    color: #FFFFFF;
}

.border-3{
    left: 863px;
    top: 1550px;
    bottom: 1781px;
    right: 158px;
}

.android-large{
    position: absolute;
    width: 70px;
    height: 70px;

    top: 1613px;
    bottom: 1986px;
    left: 998px;
    right: 292px;
}

.mobd{
    position: absolute;
    width: 263px;
    height: 36px;

    top: 1694px;
    bottom: 1939px;
    left: 915px;
    right: 191px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;

    color: #FFFFFF;
}

.mobdp{
    position: absolute;
    width: 296px;
    height: 84px;

    top: 1746px;
    bottom: 1839px;
    left: 882px;
    right: 182px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
    
    text-align: center;

    color: #FFFFFF;
}

.border-4{
    left: 136px;
    top: 1904px;
    bottom: 1427px;
    right: 883px;
}

.git-repo{
    position: absolute;
    width: 62px;
    height: 62px;

    top: 1965px;
    bottom: 1642px;
    left: 272px;
    right: 1026px;
}

.vers{
    position: absolute;
    width: 223px;
    height: 36px;
    
    top: 2031px;
    bottom: 1602px;
    left: 210px;
    right: 942px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;

    color: #7562E0;
}

.versp{
    position: absolute;
    width: 296px;
    height: 96px;
    
    top: 2083px;
    bottom: 1490px;
    left: 161px;
    right: 903px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    
    text-align: center;

    color: #FFFFFF;
}

.border-5{
    left: 499px;
    top: 1904px;
    bottom: 1427px;
    right: 520px;
}

.js{
    position: absolute;
    width: 54px;
    height: 54px;

    top: 1974px;
    bottom: 1641px;
    left: 646px;
    right: 660px;
}

.npm{
    position: absolute;
    width: 213px;
    height: 36px;
    
    top: 2031px;
    bottom: 1602px;
    left: 580px;
    right: 580px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;

    color: #FFFFFF;
}

.npmp{
    position: absolute;
    width: 296px;
    height: 96px;
    
    top: 2083px;
    bottom: 1490px;
    left: 522px;
    right: 542px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;

    text-align: center;

    color: #FFFFFF;
}

.border-6{
    left: 863px;
    top: 1904px;
    bottom: 1427px;
    right: 158px;
}

.slider{
    position: absolute;
    width: 48px;
    height: 48px;

    top: 1976px;
    bottom: 1645px;
    left: 1009px;
    right: 303px;
}

.scrap{
    position: absolute;
    width: 182px;
    height: 36px;
    
    top: 2031px;
    bottom: 1592px;
    left: 955px;
    right: 240px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;

    color: #7562E0;
    
}

.wscrap{
    position: absolute;
    width: 296px;
    height: 96px;
    
    top: 2083px;
    bottom: 1490px;
    left: 885px;
    right: 179px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;

    text-align: center;

    color: #FFFFFF;
    
}