body{
    padding: 0;
    margin: 0;
}

.navbar{
    
    width: 1440px;
    height: 80px;
    right: 0px;
    top: 0px;
    bottom: 0%;

    /* Black */
    background: #232536;
}

.logo{
    position: absolute;
    width: 140px;
    height: 28.35px;
    left: 83px;
    top: 25px;
}

.h-1{
    position: absolute;
    left: 0%;
    right: 92.99%;
    top: 0%;
    bottom: 0.31%;

    color: white;
}

.h-2{
    position: absolute;
    left: 10.47%;
    right: 92.99%;
    top: 0%;
    bottom: 12.44%;
    
    color: white;
}

.h-3{
    position: absolute;
    left: 22.13%;
    right: 74.77%;
    top: 0%;
    bottom: 12.44%;

    color: white;
}

.h-4{
    position: absolute;
    left: 28.04%;
    right: 61.53%;
    top: 0%;
    bottom: 12.44%;

    color: white;
}

.h-5{
    position: absolute;
left: 40.33%;
right: 50.09%;
top: 0%;
bottom: 12.44%;

    color: white;
}

.h-6{

position: absolute;
left: 50.63%;
right: 32.42%;
top: 0%;
bottom: 12.44%;

    color: white;
}

.h-7{
    position: absolute;
left: 68.18%;
right: 20.65%;
top: 0%;
bottom: 12.44%;
    color: white;
}

.h-8{
    position: absolute;
left: 80.68%;
right: 8.14%;
top: 0%;
bottom: 12.44%;

    color: white;
}

.h-9{

position: absolute;
left: 92.9%;
right: 0.18%;
top: 0%;
bottom: 12.44%;
    color: white;
}

.pages{
    position: relative;
width: 305px;
height: 29px;
left: 844px;
top: 26px;
list-style: none;
}

.home{
position: relative;
left: 58.61%;
right: 38.26%;
top: 32.5%;
bottom: 32.5%;

/* Body 1 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */
display: flex;
align-items: center;

/* Light */
color: #FFFFFF;
}

.blog{
position: relative;
left: 63.4%;
right: 34.24%;
top: 33.75%;
bottom: 31.25%;

/* Body 1 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */
display: flex;
align-items: center;

/* Light */
color: #FFFFFF;
}

.about{
    position: relative;
left: 67.43%;
right: 27.64%;
top: 33.75%;
bottom: 31.68%;

/* Body 1 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */
display: flex;
align-items: center;

/* Light */
color: #FFFFFF;
}

.contact{
    
position: relative;
left: 74.03%;
right: 20.21%;
top: 32.5%;
bottom: 32.5%;

/* Body 1 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */
display: flex;
align-items: center;

/* Light */
color: #FFFFFF;

}